<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://telegra.ph/file/00895962046dbc9f64bd2.jpg">
    <title>ArifzynXD APIs</title>
    <link rel="stylesheet" href="/css/app-dark.css" id="darkTheme">
  </head> 

<body class="dark">
  <%- include('msg') %>
  <%- include('errors') %> 
  <%- body %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {
      $('body').addClass('loaded');
    }, 3000);
  });
</script>
</html>