<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArifzynXD APIs | BIODATA </title>
    <link rel="icon" href="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet" href="css/biodata.css" />
  </head>
  <body>
    <section class="animated-background">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </section>
    <a id="profilePicture" href="#popup">
      <img src="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" alt="Profile Picture" />
    </a>
    <div class="overlay" id="popup">
      <div class="popup">
        <div class="popup-photo">
          <a href="https://github.com/sansekai" target="_blank">
            <img src="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" alt="Profile Picture" />
          </a>
        </div>
        <div class="popup-quote">Apa Bang Liat Liat ?, Waifu Saya Ini.</div>
        <a class="popup-close" onclick="history.back()">&times;</a>
      </div>
    </div>

    <div id="userName">
      <h2><b style="color: rgb(160, 252, 252)">ArifzynXD APIs</b><br /></h2>
      <div class="desk" style="color: rgb(255, 255, 255)">
        Hai, I'm ArifzynXD</br>        
        </br> 18 years old
        </br>learn programming
        </br>Male
        </br>Jawa Barat, Bogor, Megamendung 
        </br>Cuma wibu nolep yang suka nonton anime 
     </div>
    </div>
    <script src="iconify.js"></script>
    <div id="links">
       <a class="link" href="https://wa.me/62895347198105?text=Halo+Bang" target="_blank"> <i class="fab fa-whatsapp"></i><b> Whastapp Me</b></a> 
       <a class="link" href="https://wa.me/6289518887904?text=.menu" target="_blank"> <i class="fab fa-whatsapp"></i><b> Whastapp Bot</b></a> 
       <a class="link" href="https://instagram.com/Arifzyn19" target="_blank"> <i class="fab fa-instagram"></i><b> Instagram Me</b></a> 
      <a class="link" href="https://github.com/ArifzynXD" target="_blank"> <i class="fab fa-github"></i><b> Github Me </b></a> 
      <a class="link" href="https://youtube.com/@ItsMeArifzynXD" target="_blank"> <i class="fab fa-youtube"></i><b> YouTube Me </b></a> 
      <a class="link" href="/sewabot" target="_blank"> <i class="fab fa-shops"></i><b> List Harga Sewabot </b></a> 
    </div>
    <div id="hashtag"><a id="colorfooter" href="/docs" target="_blank">Back To Dashboard</a></div>
    <div id="hashtag">Made With ❤ by <a id="colorfooter" href="https://github.com/ArifzynXD" target="_blank">ArifzynXD</a></div>
  </body>
</html>
