<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArifzynXD APIs | SEWABOT </title>
    <link rel="icon" href="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet" href="css/biodata.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="animated-background">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </section>
    <a id="profilePicture" href="#popup">
      <img src="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" alt="Profile Picture" />
    </a>
    <div class="overlay" id="popup">
      <div class="popup">
        <div class="popup-photo">
          <a href="https://github.com/ArifzynXD" target="_blank">
            <img src="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" alt="Profile Picture" />
          </a>
        </div>
        <div class="popup-quote">Apa Bang Liat Liat ?, Waifu Saya Ini.</div>
        <a class="popup-close" onclick="history.back()">&times;</a>
      </div>
    </div>

    <div id="userName">
      <h2><b style="color: rgb(160, 252, 252)">ArifzynXD APIs</b><br /></h2>
      <div class="desk" style="color: rgb(255, 255, 255)">
        <p style="font-family: Arial, sans-serif;">
            <b><i>
            Berikut adalah list harga ( Sewabot Jadibot Premium )
        </br>Jika Minat Bisa Langsung Click Buy</p>
        </b></i>
        <p class="popup-quote">Atau bisa langsung chat owner</p>
     </div>
    </div>
    <div class="button-container">
  <div class="line"></div>
  <a href="https://wa.me/62895347198105" class="button">OWNER</a>
  <div class="line"></div>
</div>
    <script src="iconify.js"></script>
    <div>
        <div style="text-align:center; font-size:18px; color:#ffffff;">
  <div class="line"></div>
  </br><b>LIST SHOP BOT</b></br>
  <div class="line"></div>
  </div>
  <div class="link">
  <div style="text-align:center; font-size:18px; color:#ffffff;">
      <div style="position: relative; background-color: transparent; color: var(--accentColor); border: solid var(--accentColor) 2px; border-radius: 10px; display: block; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; padding: 10px; -webkit-tap-highlight-color: transparent;">
		<img src="https://telegra.ph/file/4f07aa86244fea037f00d.jpg" alt="Gambar Contoh" width="300" height="150" style="background-color:rgb(160, 252, 252); padding:1px; border:2px solid #cccccc;">
		  <div style="background-color: transparant; color:white; padding:10px; margin-top:-40px;">
			<h3></br>SEWABOT</h3>
			<p>25K 1 Bulan / 1 Group
  </br>35K 3 Bulan / 1 Group 
  </br>55K Permanen / 1 Group.</p>
			<hr style="border-top:5px solid white;">
			<div class="button-container">
  <div class="line"></div>
  <a href="https://wa.me/62895347198105?text=Saya+mau+order+sewabot" class="button">BUY SEWABOT</a>
  <div class="line"></div>
</div>
		</div>
		</div>
	</div>
	</div>
	</div>
	
	<div class="link">
  <div style="text-align:center; font-size:18px; color:#ffffff;">
      <div style="position: relative; background-color: transparent; color: var(--accentColor); border: solid var(--accentColor) 2px; border-radius: 10px; display: block; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; padding: 10px; -webkit-tap-highlight-color: transparent;">
		<img src="https://telegra.ph/file/b542efa20a4c4cd117f82.jpg" alt="Gambar Contoh" width="300" height="150" style="background-color:rgb(160, 252, 252); padding:1px; border:2px solid #cccccc;">
		  <div style="background-color: transparant; color:white; padding:10px; margin-top:-40px;">
			<h3></br>PREMIUM</h3>
			<p>7K 1 Minggu / 1 Nomor
  </br>10K 2 Minggu / 1 Nomor
  </br>15K 1 Bulan / 1 Nomor
  </br>30K Permanen / 1 Nomor</p>
			<hr style="border-top:5px solid white;">
			<div class="button-container">
  <div class="line"></div>
  <a href="https://wa.me/62895347198105?text=Saya+mau+order+premium" class="button">BUY PREMIUM</a>
  <div class="line"></div>
</div>
		</div>
		</div>
	</div>
	</div>
	</div>
	
	
	<div class="link">
  <div style="text-align:center; font-size:18px; color:#ffffff;">
      <div style="position: relative; background-color: transparent; color: var(--accentColor); border: solid var(--accentColor) 2px; border-radius: 10px; display: block; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; padding: 10px; -webkit-tap-highlight-color: transparent;">
		<img src="https://telegra.ph/file/4de801bf2aae74c2aee79.jpg" alt="Gambar Contoh" width="300" height="150" style="background-color:rgb(160, 252, 252); padding:1px; border:2px solid #cccccc;">
		  <div style="background-color: transparant; color:white; padding:10px; margin-top:-40px;">
			<h3></br>JABIBOT</h3>
			<p>50K / 1 Bulan 
  </br>PERMANEN ? chat owner 
  </br></br>SCRIPT INI 
  </br>RUN ON PANEL
  </br>ON 24 JAM 
  </br>NO DELAY
  </br>FAST RESPON 
  </br>BEBAS REQUEST FITUR
			<hr style="border-top:5px solid white;">
			<div class="button-container">
  <div class="line"></div>
  <a href="https://wa.me/62895347198105?text=Saya+mau+order+jadibot" class="button">BUY JADIBOT</a>
  <div class="line"></div>
</div>
		</div>
		</div>
	</div>
	</div>
	</div>
	
	<div class="link">
  <div style="text-align:center; font-size:18px; color:#ffffff;">
      <div style="position: relative; background-color: transparent; color: var(--accentColor); border: solid var(--accentColor) 2px; border-radius: 10px; display: block; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; padding: 10px; -webkit-tap-highlight-color: transparent;">
		<img src="https://telegra.ph/file/fea3f66a097827557a2e5.jpg" alt="Gambar Contoh" width="300" height="150" style="background-color:rgb(160, 252, 252); padding:1px; border:2px solid #cccccc;">
		  <div style="background-color: transparant; color:white; padding:10px; margin-top:-40px;">
			<h3></br>PREMIUM</h3>
			<p>JASA RUN BOT</b>
  </br></br>25K / 1 Bulan 
  </br></br>RESPON RESPON
  </br>ON 24 JAM
  </br>NO DELAY</p>
			<hr style="border-top:5px solid white;">
			<div class="button-container">
  <div class="line"></div>
  <a href="https://wa.me/62895347198105?text=Saya+mau+order+jasrun" class="button">BUY JASA RUN</a>
  <div class="line"></div>
</div>
		</div>
		</div>
	</div>
	</div>
	</div>
  
<div style="text-align:center;">
    <img src="https://telegra.ph/file/fb93349034950038fac27.jpg" alt="Halo" width="300" height="150">
    </div>
    <div id="hashtag"><a id="colorfooter" href="/docs" target="_blank"></br>Back To Dashboard</a></div>
    <div id="hashtag">Made With ❤ by <a id="colorfooter" href="https://github.com/ArifzynXD" target="_blank">ArifzynXD</a></div>
  </body>
</html>


